<div class="signup-form">

  <!-- Mobile Number -->
  <div class="form-group">

    <div class="form-group">

    <label>First Name</label>

    <input
      type="text"
      [(ngModel)]="firstName"
      name="firstName"
      placeholder="Enter your first name"
      class="form-input"
      [disabled]="isLoading()"
    />

  </div>



  <!-- Last Name -->
  <div class="form-group">

    <label>Last Name</label>

    <input
      type="text"
      [(ngModel)]="lastName"
      name="lastName"
      placeholder="Enter your last name"
      class="form-input"
      [disabled]="isLoading()"
    />

  </div>

    <label>Mobile Number</label>

    <input
      type="text"
      [(ngModel)]="mobile"
      name="mobile"
      placeholder="Enter your mobile number"
      class="form-input"
      maxlength="10"
      appNumbersOnly
      [disabled]="isLoading()"
    />

    <small *ngIf="!otpSent">
      Example: 9876543210
    </small>

  </div>

  <!-- OTP -->
  <div
    class="form-group"
    *ngIf="otpSent">

    <label>OTP</label>

    <input
      type="text"
      [(ngModel)]="otp"
      name="otp"
      placeholder="Enter 6 digit OTP"
      class="form-input"
      maxlength="6"
      appNumbersOnly
      [disabled]="isLoading()"
    />

    <small>
      OTP sent to +91 {{ mobile }}
    </small>

  </div>

  <!-- Error Message -->
  <div
    *ngIf="errorMessage"
    class="error-message">

    ⚠️ {{ errorMessage }}

  </div>

  <!-- Success Message -->
  <div
    *ngIf="successMessage"
    class="success-message">

    ✓ {{ successMessage }}

  </div>

  <!-- Send OTP Button -->
  <button
    *ngIf="!otpSent"
    class="signup-btn"
    type="button"
    (click)="sendOtp()"
    [disabled]="isLoading()">

    <span
      *ngIf="isLoading()"
      class="loader">
    </span>

    {{ isLoading() ? 'Sending OTP...' : 'Send OTP' }}

  </button>

  <!-- Verify OTP Button -->
  <button
    *ngIf="otpSent"
    class="signup-btn"
    type="button"
    (click)="verifyOtp()"
    [disabled]="isLoadingVO()">

    <span
      *ngIf="isLoadingVO()"
      class="loader">
    </span>

    {{ isLoadingVO() ? 'Verifying OTP...' : 'Verify OTP' }}

  </button>

  <!-- Resend OTP -->
  <div
    class="resend-section"
    *ngIf="otpSent">

    <button
      type="button"
      class="resend-btn"
      (click)="resendOtp()"
      [disabled]="countdown() > 0">

      {{ countdown() > 0
          ? 'Resend OTP in ' + countdown() + ' sec'
          : 'Resend OTP'
      }}

    </button>

  </div>

  <app-success-popup
      [isVisible]="popupService.isVisible()"
      [title]="popupService.title()"
      [message]="popupService.message()"
      [type]="popupService.type()"
      (close)="closePopup()">
  </app-success-popup>

</div>