/*=========================
  Header
=========================*/

.app-header{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#ffffff;

    padding:15px 30px;

    border-radius:16px;

    box-shadow:0 5px 18px rgba(0,0,0,.08);

    margin-bottom:25px;

    box-sizing:border-box;

    gap:20px;

}

/*=========================
  Left
=========================*/

.header-left{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo{

    width:100px;

    height:50px;

    /* border-radius:50%; */

    object-fit:cover;

}

.header-left h2{

    margin:0;

    color:#1e3a8a;

    font-size:24px;

    font-weight:700;

}

/*=========================
  Right
=========================*/

.header-right{

    display:flex;

    align-items:center;

    gap:12px;

}

.header-right button{

    border:none;

    padding:12px 24px;

    border-radius:10px;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    transition:.3s;

}

.home-btn{

    background:#2563eb;

    color:#fff;

}

.home-btn:hover{

    background:#1d4ed8;

}

.logout-btn{

    background:#dc2626;

    color:#fff;

}

.logout-btn:hover{

    background:#b91c1c;

}

/*=========================
  Tablet
=========================*/

@media(max-width:768px){

.app-header{

    padding:18px;

    flex-direction:column;

    align-items:flex-start;

}

.header-left{

    width:100%;

}

.header-right{

    width:100%;

}

.header-right button{

    flex:1;

}

}

/*=========================
  Mobile
=========================*/

@media(max-width:480px){

.header-left{

    flex-direction:column;

    text-align:center;

    width:100%;

}

.header-left h2{

    font-size:20px;

}

.header-right{

    flex-direction:column;

    width:100%;

}

.header-right button{

    width:100%;

}

.logo{

    width:100px;

    height:50px;

}

}